img {
    height: 200px;
    width: 200px;
}

.div {
    display: flex;
    border: 5px solid black;
    margin-top: 20px;
}

.div .text {
    margin-left: 30px;
}

.div .button {
    height: 50px;
    margin: auto 40px;
}